html {
  font-size: 93.75%;
}
a,
.page-title {
  color: var(--ast-global-color-2);
}
a:hover,
a:focus {
  color: var(--ast-global-color-1);
}
body,
button,
input,
select,
textarea,
.ast-button,
.ast-custom-button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.6;
}
blockquote {
  color: var(--ast-global-color-3);
}
h1,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6,
.site-title,
.site-title a {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.site-title {
  font-size: 35px;
  font-size: 2.3333333333333rem;
  display: block;
}
header .custom-logo-link img {
  max-width: 68px;
}
.astra-logo-svg {
  width: 68px;
}
.ast-archive-description .ast-archive-title {
  font-size: 26px;
  font-size: 1.7333333333333rem;
}
.site-header .site-description {
  font-size: 15px;
  font-size: 1rem;
  display: none;
}
.entry-title {
  font-size: 26px;
  font-size: 1.7333333333333rem;
}
h1,
.entry-content h1 {
  font-size: 75px;
  font-size: 5rem;
  font-family: "Playfair Display", serif;
  line-height: 1;
}
h2,
.entry-content h2 {
  font-size: 50px;
  font-size: 3.3333333333333rem;
  font-family: "Playfair Display", serif;
  line-height: 1;
}
h3,
.entry-content h3 {
  font-size: 32px;
  font-size: 2.1333333333333rem;
  font-family: "Playfair Display", serif;
  line-height: 1;
}
h4,
.entry-content h4 {
  font-size: 20px;
  font-size: 1.3333333333333rem;
  font-family: "Playfair Display", serif;
}
h5,
.entry-content h5 {
  font-size: 18px;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
}
h6,
.entry-content h6 {
  font-size: 15px;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
.ast-single-post .entry-title,
.page-title {
  font-size: 32px;
  font-size: 2.1333333333333rem;
}
::selection {
  background-color: var(--ast-global-color-0);
  color: #ffffff;
}
body,
h1,
.entry-title a,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6 {
  color: var(--ast-global-color-3);
}
.tagcloud a:hover,
.tagcloud a:focus,
.tagcloud a.current-item {
  color: #ffffff;
  border-color: var(--ast-global-color-2);
  background-color: var(--ast-global-color-2);
}
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: var(--ast-global-color-2);
}
input[type="radio"]:checked,
input[type="reset"],
input[type="checkbox"]:checked,
input[type="checkbox"]:hover:checked,
input[type="checkbox"]:focus:checked,
input[type="range"]::-webkit-slider-thumb {
  border-color: var(--ast-global-color-2);
  background-color: var(--ast-global-color-2);
  box-shadow: none;
}
.site-footer a:hover + .post-count,
.site-footer a:focus + .post-count {
  background: var(--ast-global-color-2);
  border-color: var(--ast-global-color-2);
}
.single .nav-links .nav-previous,
.single .nav-links .nav-next {
  color: var(--ast-global-color-2);
}
.entry-meta,
.entry-meta * {
  line-height: 1.45;
  color: var(--ast-global-color-2);
}
.entry-meta a:hover,
.entry-meta a:hover *,
.entry-meta a:focus,
.entry-meta a:focus *,
.page-links > .page-link,
.page-links .page-link:hover,
.post-navigation a:hover {
  color: var(--ast-global-color-1);
}
#cat option,
.secondary .calendar_wrap thead a,
.secondary .calendar_wrap thead a:visited {
  color: var(--ast-global-color-2);
}
.secondary .calendar_wrap #today,
.ast-progress-val span {
  background: var(--ast-global-color-2);
}
.secondary a:hover + .post-count,
.secondary a:focus + .post-count {
  background: var(--ast-global-color-2);
  border-color: var(--ast-global-color-2);
}
.calendar_wrap #today > a {
  color: #ffffff;
}
.page-links .page-link,
.single .post-navigation a {
  color: var(--ast-global-color-2);
}
.widget-title {
  font-size: 21px;
  font-size: 1.4rem;
  color: var(--ast-global-color-3);
}
.ast-logo-title-inline .site-logo-img {
  padding-right: 1em;
}
.site-logo-img img {
  transition: all 0.2s linear;
}
.ast-page-builder-template .hentry {
  margin: 0;
}
.ast-page-builder-template .site-content > .ast-container {
  max-width: 100%;
  padding: 0;
}
.ast-page-builder-template .site-content #primary {
  padding: 0;
  margin: 0;
}
.ast-page-builder-template .no-results {
  text-align: center;
  margin: 4em auto;
}
.ast-page-builder-template .ast-pagination {
  padding: 2em;
}
.ast-page-builder-template .entry-header.ast-no-title.ast-no-thumbnail {
  margin-top: 0;
}
.ast-page-builder-template .entry-header.ast-header-without-markup {
  margin-top: 0;
  margin-bottom: 0;
}
.ast-page-builder-template .entry-header.ast-no-title.ast-no-meta {
  margin-bottom: 0;
}
.ast-page-builder-template.single .post-navigation {
  padding-bottom: 2em;
}
.ast-page-builder-template.single-post .site-content > .ast-container {
  max-width: 100%;
}
.ast-page-builder-template .entry-header {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.ast-page-builder-template .ast-archive-description {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.single.ast-page-builder-template .entry-header {
  padding-left: 20px;
  padding-right: 20px;
}
.ast-page-builder-template.ast-no-sidebar .entry-content .alignwide {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 921px) {
  #ast-desktop-header {
    display: none;
  }
}
@media (min-width: 921px) {
  #ast-mobile-header {
    display: none;
  }
}
.wp-block-buttons.aligncenter {
  justify-content: center;
}
@media (min-width: 1200px) {
  .wp-block-group .has-background {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .ast-no-sidebar.ast-separate-container
    .entry-content
    .wp-block-group.alignwide,
  .ast-no-sidebar.ast-separate-container
    .entry-content
    .wp-block-cover.alignwide {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ast-no-sidebar.ast-separate-container
    .entry-content
    .wp-block-cover.alignfull,
  .ast-no-sidebar.ast-separate-container
    .entry-content
    .wp-block-group.alignfull {
    margin-left: -6.67em;
    margin-right: -6.67em;
    padding-left: 6.67em;
    padding-right: 6.67em;
  }
}
@media (min-width: 1200px) {
  .wp-block-cover-image.alignwide .wp-block-cover__inner-container,
  .wp-block-cover.alignwide .wp-block-cover__inner-container,
  .wp-block-cover-image.alignfull .wp-block-cover__inner-container,
  .wp-block-cover.alignfull .wp-block-cover__inner-container {
    width: 100%;
  }
}
@media (max-width: 921px) {
  .ast-separate-container .ast-article-post,
  .ast-separate-container .ast-article-single {
    padding: 1.5em 2.14em;
  }
  .ast-separate-container #primary,
  .ast-separate-container #secondary {
    padding: 1.5em 0;
  }
  #primary,
  #secondary {
    padding: 1.5em 0;
    margin: 0;
  }
  .ast-left-sidebar #content > .ast-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .ast-author-box img.avatar {
    margin: 20px 0 0 0;
  }
}
@media (min-width: 922px) {
  .ast-separate-container.ast-right-sidebar #primary,
  .ast-separate-container.ast-left-sidebar #primary {
    border: 0;
  }
  .search-no-results.ast-separate-container #primary {
    margin-bottom: 4em;
  }
}
.elementor-button-wrapper .elementor-button {
  border-style: solid;
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
body .elementor-button.elementor-size-sm,
body .elementor-button.elementor-size-xs,
body .elementor-button.elementor-size-md,
body .elementor-button.elementor-size-lg,
body .elementor-button.elementor-size-xl,
body .elementor-button {
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
}
.elementor-button-wrapper .elementor-button {
  border-color: var(--ast-global-color-0);
  background-color: var(--ast-global-color-0);
}
.elementor-button-wrapper .elementor-button:hover,
.elementor-button-wrapper .elementor-button:focus {
  color: #ffffff;
  background-color: var(--ast-global-color-1);
  border-color: var(--ast-global-color-1);
}
.wp-block-button .wp-block-button__link,
.elementor-button-wrapper .elementor-button,
.elementor-button-wrapper .elementor-button:visited {
  color: #ffffff;
}
.elementor-button-wrapper .elementor-button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
}
body .elementor-button.elementor-size-sm,
body .elementor-button.elementor-size-xs,
body .elementor-button.elementor-size-md,
body .elementor-button.elementor-size-lg,
body .elementor-button.elementor-size-xl,
body .elementor-button {
  font-size: 14px;
  font-size: 0.93333333333333rem;
}
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
  color: #ffffff;
  background-color: var(--ast-global-color-1);
  border-color: var(--ast-global-color-1);
}
.elementor-widget-heading h1.elementor-heading-title {
  line-height: 1;
}
.elementor-widget-heading h2.elementor-heading-title {
  line-height: 1;
}
.elementor-widget-heading h3.elementor-heading-title {
  line-height: 1;
}
.wp-block-button .wp-block-button__link {
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-color: var(--ast-global-color-0);
  background-color: var(--ast-global-color-0);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-size: 0.93333333333333rem;
  border-radius: 4px;
}
.wp-block-buttons .wp-block-button .wp-block-button__link {
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
}
.menu-toggle,
button,
.ast-button,
.ast-custom-button,
.button,
input#submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  color: #ffffff;
  border-color: var(--ast-global-color-0);
  background-color: var(--ast-global-color-0);
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.93333333333333rem;
  line-height: 1;
  letter-spacing: 0.5px;
}
button:focus,
.menu-toggle:hover,
button:hover,
.ast-button:hover,
.ast-custom-button:hover .button:hover,
.ast-custom-button:hover,
input[type="reset"]:hover,
input[type="reset"]:focus,
input#submit:hover,
input#submit:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #ffffff;
  background-color: var(--ast-global-color-1);
  border-color: var(--ast-global-color-1);
}
@media (min-width: 544px) {
  .ast-container {
    max-width: 100%;
  }
}
@media (max-width: 544px) {
  .ast-separate-container .ast-article-post,
  .ast-separate-container .ast-article-single,
  .ast-separate-container .comments-title,
  .ast-separate-container .ast-archive-description {
    padding: 1.5em 1em;
  }
  .ast-separate-container #content .ast-container {
    padding-left: 0.54em;
    padding-right: 0.54em;
  }
  .ast-separate-container .ast-comment-list li.depth-1 {
    padding: 1.5em 1em;
    margin-bottom: 1.5em;
  }
  .ast-separate-container .ast-comment-list .bypostauthor {
    padding: 0.5em;
  }
  .ast-search-menu-icon.ast-dropdown-active .search-field {
    width: 170px;
  }
}
@media (max-width: 921px) {
  .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon {
    display: inline-block;
  }
  .ast-header-break-point.ast-header-custom-item-outside
    .ast-mobile-header-stack
    .main-header-bar
    .ast-search-icon {
    margin: 0;
  }
  .ast-comment-avatar-wrap img {
    max-width: 2.5em;
  }
  .ast-separate-container .ast-comment-list li.depth-1 {
    padding: 1.5em 2.14em;
  }
  .ast-separate-container .comment-respond {
    padding: 2em 2.14em;
  }
  .ast-comment-meta {
    padding: 0 1.8888em 1.3333em;
  }
}
body,
.ast-separate-container {
  background-color: var(--ast-global-color-4);
  background-image: none;
}
.ast-no-sidebar.ast-separate-container .entry-content .alignfull {
  margin-left: -6.67em;
  margin-right: -6.67em;
  width: auto;
}
@media (max-width: 1200px) {
  .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -2.4em;
    margin-right: -2.4em;
  }
}
@media (max-width: 768px) {
  .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -2.14em;
    margin-right: -2.14em;
  }
}
@media (max-width: 544px) {
  .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -1em;
    margin-right: -1em;
  }
}
.ast-no-sidebar.ast-separate-container .entry-content .alignwide {
  margin-left: -20px;
  margin-right: -20px;
}
.ast-no-sidebar.ast-separate-container
  .entry-content
  .wp-block-column
  .alignfull,
.ast-no-sidebar.ast-separate-container
  .entry-content
  .wp-block-column
  .alignwide {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 921px) {
  .site-title {
    display: none;
  }
  .ast-archive-description .ast-archive-title {
    font-size: 40px;
  }
  .site-header .site-description {
    display: none;
  }
  .entry-title {
    font-size: 30px;
  }
  h1,
  .entry-content h1 {
    font-size: 45px;
  }
  h2,
  .entry-content h2 {
    font-size: 32px;
  }
  h3,
  .entry-content h3 {
    font-size: 25px;
  }
  .ast-single-post .entry-title,
  .page-title {
    font-size: 40px;
  }
}
@media (max-width: 544px) {
  .site-title {
    display: none;
  }
  .ast-archive-description .ast-archive-title {
    font-size: 40px;
  }
  .site-header .site-description {
    display: none;
  }
  .entry-title {
    font-size: 30px;
  }
  h1,
  .entry-content h1 {
    font-size: 30px;
  }
  h2,
  .entry-content h2 {
    font-size: 23px;
  }
  h3,
  .entry-content h3 {
    font-size: 20px;
  }
  .ast-single-post .entry-title,
  .page-title {
    font-size: 26px;
  }
  header .custom-logo-link img,
  .ast-header-break-point .site-branding img,
  .ast-header-break-point .custom-logo-link img {
    max-width: 100px;
  }
  .astra-logo-svg {
    width: 100px;
  }
  .ast-header-break-point .site-logo-img .custom-mobile-logo-link img {
    max-width: 100px;
  }
}
@media (max-width: 921px) {
  html {
    font-size: 85.5%;
  }
}
@media (max-width: 544px) {
  html {
    font-size: 85.5%;
  }
}
@media (min-width: 922px) {
  .ast-container {
    max-width: 1240px;
  }
}
@font-face {
  font-family: "Astra";
  src: url(../fonts/astra.woff) format("woff"),
    url(../fonts/astra.ttf) format("truetype"),
    url(../fonts/astra.svg#astra) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@media (min-width: 922px) {
  .main-header-menu
    .sub-menu
    .menu-item.ast-left-align-sub-menu:hover
    > .sub-menu,
  .main-header-menu
    .sub-menu
    .menu-item.ast-left-align-sub-menu.focus
    > .sub-menu {
    margin-left: -0px;
  }
}
.footer-widget-area[data-section^="section-fb-html-"]
  .ast-builder-html-element {
  text-align: center;
}
.astra-icon-down_arrow::after {
  content: "\e900";
  font-family: Astra;
}
.astra-icon-close::after {
  content: "\e5cd";
  font-family: Astra;
}
.astra-icon-drag_handle::after {
  content: "\e25d";
  font-family: Astra;
}
.astra-icon-format_align_justify::after {
  content: "\e235";
  font-family: Astra;
}
.astra-icon-menu::after {
  content: "\e5d2";
  font-family: Astra;
}
.astra-icon-reorder::after {
  content: "\e8fe";
  font-family: Astra;
}
.astra-icon-search::after {
  content: "\e8b6";
  font-family: Astra;
}
.astra-icon-zoom_in::after {
  content: "\e56b";
  font-family: Astra;
}
.astra-icon-check-circle::after {
  content: "\e901";
  font-family: Astra;
}
.astra-icon-shopping-cart::after {
  content: "\f07a";
  font-family: Astra;
}
.astra-icon-shopping-bag::after {
  content: "\f290";
  font-family: Astra;
}
.astra-icon-shopping-basket::after {
  content: "\f291";
  font-family: Astra;
}
.astra-icon-circle-o::after {
  content: "\e903";
  font-family: Astra;
}
.astra-icon-certificate::after {
  content: "\e902";
  font-family: Astra;
}
blockquote {
  padding: 1.2em;
}
:root .has-ast-global-color-0-color {
  color: var(--ast-global-color-0);
}
:root .has-ast-global-color-0-background-color {
  background-color: var(--ast-global-color-0);
}
:root .wp-block-button .has-ast-global-color-0-color {
  color: var(--ast-global-color-0);
}
:root .wp-block-button .has-ast-global-color-0-background-color {
  background-color: var(--ast-global-color-0);
}
:root .has-ast-global-color-1-color {
  color: var(--ast-global-color-1);
}
:root .has-ast-global-color-1-background-color {
  background-color: var(--ast-global-color-1);
}
:root .wp-block-button .has-ast-global-color-1-color {
  color: var(--ast-global-color-1);
}
:root .wp-block-button .has-ast-global-color-1-background-color {
  background-color: var(--ast-global-color-1);
}
:root .has-ast-global-color-2-color {
  color: var(--ast-global-color-2);
}
:root .has-ast-global-color-2-background-color {
  background-color: var(--ast-global-color-2);
}
:root .wp-block-button .has-ast-global-color-2-color {
  color: var(--ast-global-color-2);
}
:root .wp-block-button .has-ast-global-color-2-background-color {
  background-color: var(--ast-global-color-2);
}
:root .has-ast-global-color-3-color {
  color: var(--ast-global-color-3);
}
:root .has-ast-global-color-3-background-color {
  background-color: var(--ast-global-color-3);
}
:root .wp-block-button .has-ast-global-color-3-color {
  color: var(--ast-global-color-3);
}
:root .wp-block-button .has-ast-global-color-3-background-color {
  background-color: var(--ast-global-color-3);
}
:root .has-ast-global-color-4-color {
  color: var(--ast-global-color-4);
}
:root .has-ast-global-color-4-background-color {
  background-color: var(--ast-global-color-4);
}
:root .wp-block-button .has-ast-global-color-4-color {
  color: var(--ast-global-color-4);
}
:root .wp-block-button .has-ast-global-color-4-background-color {
  background-color: var(--ast-global-color-4);
}
:root .has-ast-global-color-5-color {
  color: var(--ast-global-color-5);
}
:root .has-ast-global-color-5-background-color {
  background-color: var(--ast-global-color-5);
}
:root .wp-block-button .has-ast-global-color-5-color {
  color: var(--ast-global-color-5);
}
:root .wp-block-button .has-ast-global-color-5-background-color {
  background-color: var(--ast-global-color-5);
}
:root .has-ast-global-color-6-color {
  color: var(--ast-global-color-6);
}
:root .has-ast-global-color-6-background-color {
  background-color: var(--ast-global-color-6);
}
:root .wp-block-button .has-ast-global-color-6-color {
  color: var(--ast-global-color-6);
}
:root .wp-block-button .has-ast-global-color-6-background-color {
  background-color: var(--ast-global-color-6);
}
:root .has-ast-global-color-7-color {
  color: var(--ast-global-color-7);
}
:root .has-ast-global-color-7-background-color {
  background-color: var(--ast-global-color-7);
}
:root .wp-block-button .has-ast-global-color-7-color {
  color: var(--ast-global-color-7);
}
:root .wp-block-button .has-ast-global-color-7-background-color {
  background-color: var(--ast-global-color-7);
}
:root .has-ast-global-color-8-color {
  color: var(--ast-global-color-8);
}
:root .has-ast-global-color-8-background-color {
  background-color: var(--ast-global-color-8);
}
:root .wp-block-button .has-ast-global-color-8-color {
  color: var(--ast-global-color-8);
}
:root .wp-block-button .has-ast-global-color-8-background-color {
  background-color: var(--ast-global-color-8);
}
:root {
  --ast-global-color-0: #2b60e8;
  --ast-global-color-1: #0a43d7;
  --ast-global-color-2: #2e323e;
  --ast-global-color-3: #64666c;
  --ast-global-color-4: #f7f7fa;
  --ast-global-color-5: #ffffff;
  --ast-global-color-6: #000000;
  --ast-global-color-7: #4b4f58;
  --ast-global-color-8: #f6f7f8;
}
.ast-breadcrumbs .trail-browse,
.ast-breadcrumbs .trail-items,
.ast-breadcrumbs .trail-items li {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: inherit;
  text-indent: 0;
}
.ast-breadcrumbs .trail-browse {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}
.ast-breadcrumbs .trail-items {
  list-style: none;
}
.trail-items li::after {
  padding: 0 0.3em;
  content: "\00bb";
}
.trail-items li:last-of-type::after {
  display: none;
}
h1,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6 {
  color: var(--ast-global-color-2);
}
@media (max-width: 921px) {
  .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-firstrow
    .ast-builder-grid-row
    > *:first-child,
  .ast-builder-grid-row-container.ast-builder-grid-row-tablet-3-lastrow
    .ast-builder-grid-row
    > *:last-child {
    grid-column: 1 / -1;
  }
}
@media (max-width: 544px) {
  .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-firstrow
    .ast-builder-grid-row
    > *:first-child,
  .ast-builder-grid-row-container.ast-builder-grid-row-mobile-3-lastrow
    .ast-builder-grid-row
    > *:last-child {
    grid-column: 1 / -1;
  }
}
.ast-builder-layout-element[data-section="title_tagline"] {
  display: flex;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .ast-builder-layout-element[data-section="title_tagline"] {
    display: flex;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .ast-builder-layout-element[data-section="title_tagline"] {
    display: flex;
  }
}
[data-section*="section-hb-button-"] .menu-link {
  display: none;
}
.ast-header-button-1[data-section="section-hb-button-1"] {
  display: flex;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .ast-header-button-1[data-section="section-hb-button-1"] {
    display: none;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .ast-header-button-1[data-section="section-hb-button-1"] {
    display: none;
  }
}
.ast-builder-menu-1 {
  font-family: inherit;
  font-weight: inherit;
}
.ast-builder-menu-1 .menu-item > .menu-link {
  color: var(--ast-global-color-3);
}
.ast-builder-menu-1 .menu-item > .ast-menu-toggle {
  color: var(--ast-global-color-3);
}
.ast-builder-menu-1 .menu-item:hover > .menu-link,
.ast-builder-menu-1 .inline-on-mobile .menu-item:hover > .ast-menu-toggle {
  color: var(--ast-global-color-1);
}
.ast-builder-menu-1 .menu-item:hover > .ast-menu-toggle {
  color: var(--ast-global-color-1);
}
.ast-builder-menu-1 .menu-item.current-menu-item > .menu-link,
.ast-builder-menu-1
  .inline-on-mobile
  .menu-item.current-menu-item
  > .ast-menu-toggle,
.ast-builder-menu-1 .current-menu-ancestor > .menu-link {
  color: var(--ast-global-color-1);
}
.ast-builder-menu-1 .menu-item.current-menu-item > .ast-menu-toggle {
  color: var(--ast-global-color-1);
}
.ast-builder-menu-1 .sub-menu,
.ast-builder-menu-1 .inline-on-mobile .sub-menu {
  border-top-width: 2px;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-color: var(--ast-global-color-0);
  border-style: solid;
  border-radius: 0;
}
.ast-builder-menu-1 .main-header-menu > .menu-item > .sub-menu,
.ast-builder-menu-1
  .main-header-menu
  > .menu-item
  > .astra-full-megamenu-wrapper {
  margin-top: 0;
}
.ast-desktop
  .ast-builder-menu-1
  .main-header-menu
  > .menu-item
  > .sub-menu:before,
.ast-desktop
  .ast-builder-menu-1
  .main-header-menu
  > .menu-item
  > .astra-full-megamenu-wrapper:before {
  height: calc(0px + 5px);
}
.ast-desktop .ast-builder-menu-1 .menu-item .sub-menu .menu-link {
  border-style: none;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .ast-builder-menu-1
    .menu-item.menu-item-has-children
    > .ast-menu-toggle {
    top: 0;
  }
  .ast-builder-menu-1 .menu-item-has-children > .menu-link:after {
    content: unset;
  }
  .ast-builder-menu-1 .main-header-menu,
  .ast-builder-menu-1 .main-header-menu .sub-menu {
    background-color: var(--ast-global-color-4);
    background-image: none;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .ast-builder-menu-1
    .menu-item.menu-item-has-children
    > .ast-menu-toggle {
    top: 0;
  }
}
.ast-builder-menu-1 {
  display: flex;
}
@media (max-width: 921px) {
  .ast-header-break-point .ast-builder-menu-1 {
    display: flex;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point .ast-builder-menu-1 {
    display: flex;
  }
}
.site-below-footer-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-below-footer-wrap[data-section="section-below-footer-builder"] {
  background-color: var(--ast-global-color-4);
  background-image: none;
  min-height: 80px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: #e5e5e5;
}
.site-below-footer-wrap[data-section="section-below-footer-builder"]
  .ast-builder-grid-row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.site-below-footer-wrap[data-section="section-below-footer-builder"]
  .ast-builder-grid-row,
.site-below-footer-wrap[data-section="section-below-footer-builder"]
  .site-footer-section {
  align-items: flex-start;
}
.site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-inline
  .site-footer-section {
  display: flex;
  margin-bottom: 0;
}
.ast-builder-grid-row-2-equal .ast-builder-grid-row {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 921px) {
  .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-tablet-inline
    .site-footer-section {
    display: flex;
    margin-bottom: 0;
  }
  .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-tablet-stack
    .site-footer-section {
    display: block;
    margin-bottom: 10px;
  }
  .ast-builder-grid-row-container.ast-builder-grid-row-tablet-2-equal
    .ast-builder-grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 544px) {
  .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-mobile-inline
    .site-footer-section {
    display: flex;
    margin-bottom: 0;
  }
  .site-below-footer-wrap[data-section="section-below-footer-builder"].ast-footer-row-mobile-stack
    .site-footer-section {
    display: block;
    margin-bottom: 10px;
  }
  .ast-builder-grid-row-container.ast-builder-grid-row-mobile-full
    .ast-builder-grid-row {
    grid-template-columns: 1fr;
  }
}
.site-below-footer-wrap[data-section="section-below-footer-builder"] {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.site-below-footer-wrap[data-section="section-below-footer-builder"] {
  display: grid;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .site-below-footer-wrap[data-section="section-below-footer-builder"] {
    display: grid;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .site-below-footer-wrap[data-section="section-below-footer-builder"] {
    display: grid;
  }
}
.ast-builder-html-element img.alignnone {
  display: inline-block;
}
.ast-builder-html-element p:first-child {
  margin-top: 0;
}
.ast-builder-html-element p:last-child {
  margin-bottom: 0;
}
.ast-header-break-point .main-header-bar .ast-builder-html-element {
  line-height: 1.85714285714286;
}
.footer-widget-area[data-section="section-fb-html-2"] {
  display: block;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .footer-widget-area[data-section="section-fb-html-2"] {
    display: block;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .footer-widget-area[data-section="section-fb-html-2"] {
    display: block;
  }
}
.footer-widget-area[data-section="section-fb-html-2"]
  .ast-builder-html-element {
  text-align: right;
}
@media (max-width: 921px) {
  .footer-widget-area[data-section="section-fb-html-2"]
    .ast-builder-html-element {
    text-align: right;
  }
}
@media (max-width: 544px) {
  .footer-widget-area[data-section="section-fb-html-2"]
    .ast-builder-html-element {
    text-align: center;
  }
}
.ast-footer-copyright {
  text-align: left;
}
.ast-footer-copyright {
  color: var(--ast-global-color-3);
}
@media (max-width: 921px) {
  .ast-footer-copyright {
    text-align: left;
  }
}
@media (max-width: 544px) {
  .ast-footer-copyright {
    text-align: center;
  }
}
.ast-footer-copyright.ast-builder-layout-element {
  display: flex;
}
@media (max-width: 921px) {
  .ast-header-break-point .ast-footer-copyright.ast-builder-layout-element {
    display: flex;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point .ast-footer-copyright.ast-builder-layout-element {
    display: flex;
  }
}
.ast-builder-social-element:hover {
  color: #0274be;
}
.ast-social-stack-desktop .ast-builder-social-element,
.ast-social-stack-tablet .ast-builder-social-element,
.ast-social-stack-mobile .ast-builder-social-element {
  margin-top: 6px;
  margin-bottom: 6px;
}
.ast-social-color-type-official .ast-builder-social-element,
.ast-social-color-type-official .social-item-label {
  color: var(--color);
  background-color: var(--background-color);
}
.header-social-inner-wrap.ast-social-color-type-official
  .ast-builder-social-element
  svg,
.footer-social-inner-wrap.ast-social-color-type-official
  .ast-builder-social-element
  svg {
  fill: currentColor;
}
.social-show-label-true .ast-builder-social-element {
  width: auto;
  padding: 0 0.4em;
}
[data-section^="section-fb-social-icons-"] .footer-social-inner-wrap {
  text-align: center;
}
.ast-footer-social-wrap {
  width: 100%;
}
.ast-footer-social-wrap .ast-builder-social-element:first-child {
  margin-left: 0;
}
.ast-footer-social-wrap .ast-builder-social-element:last-child {
  margin-right: 0;
}
.ast-header-social-wrap .ast-builder-social-element:first-child {
  margin-left: 0;
}
.ast-header-social-wrap .ast-builder-social-element:last-child {
  margin-right: 0;
}
.ast-builder-social-element {
  line-height: 1;
  color: #3a3a3a;
  background: transparent;
  vertical-align: middle;
  transition: all 0.01s;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}
.ast-builder-social-element {
  line-height: 1;
  color: #3a3a3a;
  background: transparent;
  vertical-align: middle;
  transition: all 0.01s;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}
.ast-builder-social-element .social-item-label {
  padding-left: 6px;
}
.ast-footer-social-1-wrap .ast-builder-social-element {
  margin-left: 12.5px;
  margin-right: 12.5px;
}
.ast-footer-social-1-wrap .ast-builder-social-element svg {
  width: 19px;
  height: 19px;
}
.ast-footer-social-1-wrap .ast-social-color-type-custom svg {
  fill: var(--ast-global-color-2);
}
.ast-footer-social-1-wrap
  .ast-social-color-type-custom
  .ast-builder-social-element:hover {
  color: var(--ast-global-color-1);
}
.ast-footer-social-1-wrap
  .ast-social-color-type-custom
  .ast-builder-social-element:hover
  svg {
  fill: var(--ast-global-color-1);
}
.ast-footer-social-1-wrap .ast-social-color-type-custom .social-item-label {
  color: var(--ast-global-color-2);
}
.ast-footer-social-1-wrap .ast-builder-social-element:hover .social-item-label {
  color: var(--ast-global-color-1);
}
[data-section="section-fb-social-icons-1"] .footer-social-inner-wrap {
  text-align: center;
}
@media (max-width: 921px) {
  [data-section="section-fb-social-icons-1"] .footer-social-inner-wrap {
    text-align: center;
  }
}
@media (max-width: 544px) {
  [data-section="section-fb-social-icons-1"] .footer-social-inner-wrap {
    text-align: center;
  }
}
.ast-builder-layout-element[data-section="section-fb-social-icons-1"] {
  display: flex;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .ast-builder-layout-element[data-section="section-fb-social-icons-1"] {
    display: flex;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .ast-builder-layout-element[data-section="section-fb-social-icons-1"] {
    display: flex;
  }
}
.site-primary-footer-wrap {
  padding-top: 45px;
  padding-bottom: 45px;
}
.site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
  background-color: var(--ast-global-color-4);
  background-image: none;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
}
.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
  .ast-builder-grid-row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
  .ast-builder-grid-row,
.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
  .site-footer-section {
  align-items: center;
}
.site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-inline
  .site-footer-section {
  display: flex;
  margin-bottom: 0;
}
.ast-builder-grid-row-3-cwide .ast-builder-grid-row {
  grid-template-columns: 1fr 3fr 1fr;
}
@media (max-width: 921px) {
  .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-tablet-inline
    .site-footer-section {
    display: flex;
    margin-bottom: 0;
  }
  .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-tablet-stack
    .site-footer-section {
    display: block;
    margin-bottom: 10px;
  }
  .ast-builder-grid-row-container.ast-builder-grid-row-tablet-full
    .ast-builder-grid-row {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 544px) {
  .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-mobile-inline
    .site-footer-section {
    display: flex;
    margin-bottom: 0;
  }
  .site-primary-footer-wrap[data-section="section-primary-footer-builder"].ast-footer-row-mobile-stack
    .site-footer-section {
    display: block;
    margin-bottom: 10px;
  }
  .ast-builder-grid-row-container.ast-builder-grid-row-mobile-full
    .ast-builder-grid-row {
    grid-template-columns: 1fr;
  }
}
.site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 921px) {
  .site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 544px) {
  .site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
  display: grid;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
    display: grid;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
    display: grid;
  }
}
.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
  .footer-widget-area-inner {
  text-align: center;
}
@media (max-width: 921px) {
  .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
    .footer-widget-area-inner {
    text-align: center;
  }
}
@media (max-width: 544px) {
  .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
    .footer-widget-area-inner {
    text-align: center;
  }
}
.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
  .footer-widget-area-inner {
  color: var(--ast-global-color-3);
}
.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"]
  .widget-title {
  color: var(--ast-global-color-2);
  font-size: 48px;
  font-size: 3.2rem;
}
.footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] {
  display: block;
}
@media (max-width: 921px) {
  .ast-header-break-point
    .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] {
    display: block;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point
    .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"] {
    display: block;
  }
}
.elementor-widget-heading .elementor-heading-title {
  margin: 0;
}
.elementor-post.elementor-grid-item.hentry {
  margin-bottom: 0;
}
.woocommerce
  div.product
  .elementor-element.elementor-products-grid
  .related.products
  ul.products
  li.product,
.elementor-element
  .elementor-wc-products
  .woocommerce[class*="columns-"]
  ul.products
  li.product {
  width: auto;
  margin: 0;
  float: none;
}
.ast-left-sidebar .elementor-section.elementor-section-stretched,
.ast-right-sidebar .elementor-section.elementor-section-stretched {
  max-width: 100%;
  left: 0 !important;
}
.elementor-template-full-width .ast-container {
  display: block;
}
@media (max-width: 544px) {
  .elementor-element
    .elementor-wc-products
    .woocommerce[class*="columns-"]
    ul.products
    li.product {
    width: auto;
    margin: 0;
  }
  .elementor-element .woocommerce .woocommerce-result-count {
    float: none;
  }
}
.ast-header-break-point .main-header-bar {
  border-bottom-width: 0;
}
@media (min-width: 922px) {
  .main-header-bar {
    border-bottom-width: 0;
  }
}
.ast-safari-browser-less-than-11 .main-header-menu .menu-item,
.ast-safari-browser-less-than-11
  .main-header-bar
  .ast-masthead-custom-menu-items {
  display: block;
}
.main-header-menu .menu-item,
#astra-footer-menu .menu-item,
.main-header-bar .ast-masthead-custom-menu-items {
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-header-menu > .menu-item > .menu-link,
#astra-footer-menu > .menu-item > .menu-link {
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -js-display: flex;
  display: flex;
}
.main-header-menu
  .sub-menu
  .menu-item.menu-item-has-children
  > .menu-link:after {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translate(0, -50%) rotate(270deg);
}
.ast-header-break-point
  .main-header-bar
  .main-header-bar-navigation
  .page_item_has_children
  > .ast-menu-toggle::before,
.ast-header-break-point
  .main-header-bar
  .main-header-bar-navigation
  .menu-item-has-children
  > .ast-menu-toggle::before,
.ast-mobile-popup-drawer
  .main-header-bar-navigation
  .menu-item-has-children
  > .ast-menu-toggle::before,
.ast-header-break-point
  .ast-mobile-header-wrap
  .main-header-bar-navigation
  .menu-item-has-children
  > .ast-menu-toggle::before {
  font-weight: bold;
  content: "\e900";
  font-family: Astra;
  text-decoration: inherit;
  display: inline-block;
}
.ast-header-break-point
  .main-navigation
  ul.sub-menu
  .menu-item
  .menu-link:before {
  content: "\e900";
  font-family: Astra;
  font-size: 0.65em;
  text-decoration: inherit;
  display: inline-block;
  transform: translate(0, -2px) rotateZ(270deg);
  margin-right: 5px;
}
.widget_search .search-form:after {
  font-family: Astra;
  font-size: 1.2em;
  font-weight: normal;
  content: "\e8b6";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}
.astra-search-icon::before {
  content: "\e8b6";
  font-family: Astra;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-header-bar .main-header-bar-navigation .page_item_has_children > a:after,
.main-header-bar .main-header-bar-navigation .menu-item-has-children > a:after,
.site-header-focus-item
  .main-header-bar-navigation
  .menu-item-has-children
  > .menu-link:after {
  content: "\e900";
  display: inline-block;
  font-family: Astra;
  font-size: 0.6rem;
  font-weight: bold;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  line-height: normal;
}
.ast-mobile-popup-drawer
  .main-header-bar-navigation
  .ast-submenu-expanded
  > .ast-menu-toggle::before {
  transform: rotateX(180deg);
}
.ast-header-break-point
  .main-header-bar-navigation
  .menu-item-has-children
  > .menu-link:after {
  display: none;
}
.ast-separate-container .blog-layout-1,
.ast-separate-container .blog-layout-2,
.ast-separate-container .blog-layout-3 {
  background-color: transparent;
  background-image: none;
}
.ast-separate-container .ast-article-post {
  background-color: var(--ast-global-color-5);
  background-image: none;
}
@media (max-width: 921px) {
  .ast-separate-container .ast-article-post {
    background-color: ;
    background-image: none;
  }
}
@media (max-width: 544px) {
  .ast-separate-container .ast-article-post {
    background-color: ;
    background-image: none;
  }
}
.ast-separate-container .ast-article-single:not(.ast-related-post),
.ast-separate-container .comments-area .comment-respond,
.ast-separate-container .comments-area .ast-comment-list li,
.ast-separate-container .ast-woocommerce-container,
.ast-separate-container .error-404,
.ast-separate-container .no-results,
.single.ast-separate-container .ast-author-meta,
.ast-separate-container .related-posts-title-wrapper,
.ast-separate-container.ast-two-container #secondary .widget,
.ast-separate-container .comments-count-wrapper,
.ast-box-layout.ast-plain-container .site-content,
.ast-padded-layout.ast-plain-container .site-content,
.ast-separate-container .comments-area .comments-title {
  background-color: var(--ast-global-color-5);
  background-image: none;
}
@media (max-width: 921px) {
  .ast-separate-container .ast-article-single:not(.ast-related-post),
  .ast-separate-container .comments-area .comment-respond,
  .ast-separate-container .comments-area .ast-comment-list li,
  .ast-separate-container .ast-woocommerce-container,
  .ast-separate-container .error-404,
  .ast-separate-container .no-results,
  .single.ast-separate-container .ast-author-meta,
  .ast-separate-container .related-posts-title-wrapper,
  .ast-separate-container.ast-two-container #secondary .widget,
  .ast-separate-container .comments-count-wrapper,
  .ast-box-layout.ast-plain-container .site-content,
  .ast-padded-layout.ast-plain-container .site-content,
  .ast-separate-container .comments-area .comments-title {
    background-color: ;
    background-image: none;
  }
}
@media (max-width: 544px) {
  .ast-separate-container .ast-article-single:not(.ast-related-post),
  .ast-separate-container .comments-area .comment-respond,
  .ast-separate-container .comments-area .ast-comment-list li,
  .ast-separate-container .ast-woocommerce-container,
  .ast-separate-container .error-404,
  .ast-separate-container .no-results,
  .single.ast-separate-container .ast-author-meta,
  .ast-separate-container .related-posts-title-wrapper,
  .ast-separate-container.ast-two-container #secondary .widget,
  .ast-separate-container .comments-count-wrapper,
  .ast-box-layout.ast-plain-container .site-content,
  .ast-padded-layout.ast-plain-container .site-content,
  .ast-separate-container .comments-area .comments-title {
    background-color: ;
    background-image: none;
  }
}
.ast-mobile-header-content > *,
.ast-desktop-header-content > * {
  padding: 10px 0;
  height: auto;
}
.ast-mobile-header-content > *:first-child,
.ast-desktop-header-content > *:first-child {
  padding-top: 10px;
}
.ast-mobile-header-content > .ast-builder-menu,
.ast-desktop-header-content > .ast-builder-menu {
  padding-top: 0;
}
.ast-mobile-header-content > *:last-child,
.ast-desktop-header-content > *:last-child {
  padding-bottom: 0;
}
.ast-mobile-header-content .ast-search-menu-icon.ast-inline-search label,
.ast-desktop-header-content .ast-search-menu-icon.ast-inline-search label {
  width: 100%;
}
.ast-desktop-header-content
  .main-header-bar-navigation
  .ast-submenu-expanded
  > .ast-menu-toggle::before {
  transform: rotateX(180deg);
}
#ast-desktop-header .ast-desktop-header-content,
.ast-mobile-header-content .ast-search-icon,
.ast-desktop-header-content .ast-search-icon,
.ast-mobile-header-wrap .ast-mobile-header-content,
.ast-main-header-nav-open.ast-popup-nav-open
  .ast-mobile-header-wrap
  .ast-mobile-header-content,
.ast-main-header-nav-open.ast-popup-nav-open .ast-desktop-header-content {
  display: none;
}
.ast-main-header-nav-open.ast-header-break-point
  #ast-desktop-header
  .ast-desktop-header-content,
.ast-main-header-nav-open.ast-header-break-point
  .ast-mobile-header-wrap
  .ast-mobile-header-content {
  display: block;
}
.ast-desktop
  .ast-desktop-header-content
  .astra-menu-animation-slide-up
  > .menu-item
  > .sub-menu,
.ast-desktop
  .ast-desktop-header-content
  .astra-menu-animation-slide-up
  > .menu-item
  .menu-item
  > .sub-menu,
.ast-desktop
  .ast-desktop-header-content
  .astra-menu-animation-slide-down
  > .menu-item
  > .sub-menu,
.ast-desktop
  .ast-desktop-header-content
  .astra-menu-animation-slide-down
  > .menu-item
  .menu-item
  > .sub-menu,
.ast-desktop
  .ast-desktop-header-content
  .astra-menu-animation-fade
  > .menu-item
  > .sub-menu,
.ast-desktop
  .ast-desktop-header-content
  .astra-menu-animation-fade
  > .menu-item
  .menu-item
  > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.ast-hfb-header.ast-default-menu-enable.ast-header-break-point
  .ast-mobile-header-wrap
  .ast-mobile-header-content
  .main-header-bar-navigation {
  width: unset;
  margin: unset;
}
.ast-mobile-header-content.content-align-flex-end
  .main-header-bar-navigation
  .menu-item-has-children
  > .ast-menu-toggle,
.ast-desktop-header-content.content-align-flex-end
  .main-header-bar-navigation
  .menu-item-has-children
  > .ast-menu-toggle {
  left: calc(20px - 0.907em);
}
.ast-mobile-header-content .ast-search-menu-icon,
.ast-mobile-header-content .ast-search-menu-icon.slide-search,
.ast-desktop-header-content .ast-search-menu-icon,
.ast-desktop-header-content .ast-search-menu-icon.slide-search {
  width: 100%;
  position: relative;
  display: block;
  right: auto;
  transform: none;
}
.ast-mobile-header-content .ast-search-menu-icon.slide-search .search-form,
.ast-mobile-header-content .ast-search-menu-icon .search-form,
.ast-desktop-header-content .ast-search-menu-icon.slide-search .search-form,
.ast-desktop-header-content .ast-search-menu-icon .search-form {
  right: 0;
  visibility: visible;
  opacity: 1;
  position: relative;
  top: auto;
  transform: none;
  padding: 0;
  display: block;
  overflow: hidden;
}
.ast-mobile-header-content
  .ast-search-menu-icon.ast-inline-search
  .search-field,
.ast-mobile-header-content .ast-search-menu-icon .search-field,
.ast-desktop-header-content
  .ast-search-menu-icon.ast-inline-search
  .search-field,
.ast-desktop-header-content .ast-search-menu-icon .search-field {
  width: 100%;
  padding-right: 5.5em;
}
.ast-mobile-header-content .ast-search-menu-icon .search-submit,
.ast-desktop-header-content .ast-search-menu-icon .search-submit {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-radius: 0;
}
.ast-hfb-header.ast-default-menu-enable.ast-header-break-point
  .ast-mobile-header-wrap
  .ast-mobile-header-content
  .main-header-bar-navigation
  ul
  .sub-menu
  .menu-link {
  padding-left: 30px;
}
.ast-hfb-header.ast-default-menu-enable.ast-header-break-point
  .ast-mobile-header-wrap
  .ast-mobile-header-content
  .main-header-bar-navigation
  .sub-menu
  .menu-item
  .menu-item
  .menu-link {
  padding-left: 40px;
}
.ast-mobile-popup-drawer.active .ast-mobile-popup-inner {
  background-color: var(--ast-global-color-4);
}
.ast-mobile-header-wrap .ast-mobile-header-content,
.ast-desktop-header-content {
  background-color: var(--ast-global-color-4);
}
.ast-mobile-popup-content > *,
.ast-mobile-header-content > *,
.ast-desktop-popup-content > *,
.ast-desktop-header-content > * {
  padding-top: 0;
  padding-bottom: 0;
}
.content-align-flex-start .ast-builder-layout-element {
  justify-content: flex-start;
}
.content-align-flex-start .main-header-menu {
  text-align: left;
}
.ast-mobile-popup-drawer.active .menu-toggle-close {
  color: #3a3a3a;
}
.ast-mobile-header-wrap .ast-primary-header-bar,
.ast-primary-header-bar .site-primary-header-wrap {
  min-height: 70px;
}
.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item {
  line-height: 70px;
}
@media (max-width: 921px) {
  #masthead .ast-mobile-header-wrap .ast-primary-header-bar,
  #masthead .ast-mobile-header-wrap .ast-below-header-bar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.ast-header-break-point .ast-primary-header-bar {
  border-bottom-width: 0;
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
}
@media (min-width: 922px) {
  .ast-primary-header-bar {
    border-bottom-width: 0;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
  }
}
.ast-primary-header-bar {
  background-color: var(--ast-global-color-5);
  background-image: none;
}
.ast-primary-header-bar {
  display: block;
}
@media (max-width: 921px) {
  .ast-header-break-point .ast-primary-header-bar {
    display: grid;
  }
}
@media (max-width: 544px) {
  .ast-header-break-point .ast-primary-header-bar {
    display: grid;
  }
}
[data-section="section-header-mobile-trigger"]
  .ast-button-wrap
  .ast-mobile-menu-trigger-minimal {
  color: var(--ast-global-color-0);
  border: none;
  background: transparent;
}
[data-section="section-header-mobile-trigger"]
  .ast-button-wrap
  .mobile-menu-toggle-icon
  .ast-mobile-svg {
  width: 20px;
  height: 20px;
  fill: var(--ast-global-color-0);
}
[data-section="section-header-mobile-trigger"]
  .ast-button-wrap
  .mobile-menu-wrap
  .mobile-menu {
  color: var(--ast-global-color-0);
}
:root {
  --e-global-color-astglobalcolor0: #2b60e8;
  --e-global-color-astglobalcolor1: #0a43d7;
  --e-global-color-astglobalcolor2: #2e323e;
  --e-global-color-astglobalcolor3: #64666c;
  --e-global-color-astglobalcolor4: #f7f7fa;
  --e-global-color-astglobalcolor5: #ffffff;
  --e-global-color-astglobalcolor6: #000000;
  --e-global-color-astglobalcolor7: #4b4f58;
  --e-global-color-astglobalcolor8: #f6f7f8;
}
