{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content" class="site-content">
    <div class="ast-container">


        <div id="primary" class="content-area primary">


            <main id="main" class="site-main">
                <article class="post-104 page type-page status-publish ast-article-single" id="post-104"
                    itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
                    <header class="entry-header ast-header-without-markup">

                    </header><!-- .entry-header -->

                    <div class="entry-content clear" itemprop="text">


                        <div data-elementor-type="wp-page" data-elementor-id="104" class="elementor elementor-104"
                            data-elementor-settings="[]">
                            <div class="elementor-section-wrap">
                                <section
                                    class="elementor-section elementor-top-section elementor-element elementor-element-fbc1a74 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="fbc1a74" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7ca68b6"
                                            data-id="7ca68b6" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-f5479ae elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                                    data-id="f5479ae" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h1 class="elementor-heading-title elementor-size-default">
                                                            About Mime</h1>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-9fb9915 elementor-absolute elementor-widget elementor-widget-image"
                                                    data-id="9fb9915" data-element_type="widget"
                                                    data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img width="400" height="192"
                                                            src="{% static 'images/pattern.png' %}"
                                                            class="attachment-large size-large" alt="" loading="lazy"
                                                            srcset="{% static 'images/pattern.png' %} 400w, {% static 'images/pattern-300x144.png' %} 300w"
                                                            sizes="(max-width: 400px) 100vw, 400px" />
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6991c9e elementor-widget elementor-widget-text-editor"
                                                    data-id="6991c9e" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                                            elit. Ut elit tellus, luctus nec ullamcorper mattis,
                                                            pulvinar dapibus leo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="elementor-section elementor-top-section elementor-element elementor-element-eb47150 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="eb47150" data-element_type="section"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ef3d779"
                                            data-id="ef3d779" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-0bef0a8 elementor-widget elementor-widget-heading"
                                                    data-id="0bef0a8" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">
                                                            We are Mime</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-dab001f elementor-widget elementor-widget-text-editor"
                                                    data-id="dab001f" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Proin gravida nibh vel velit auctor aliquet.</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2ca1594 elementor-widget elementor-widget-text-editor"
                                                    data-id="2ca1594" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Ut elit tellus, luctus nec ullamcorper mattis, pulvinar
                                                        dapibus leo. Proin gravida nibh vel velit auctor
                                                        aliquet. Aenean sollici tudin, lorem quis biben dum
                                                        auctor, nisi elit conse quat. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2b4e1d0"
                                            data-id="2b4e1d0" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-073d2ee elementor-widget__width-auto elementor-absolute elementor-widget elementor-widget-image"
                                                    data-id="073d2ee" data-element_type="widget"
                                                    data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img width="200" height="489"
                                                            src="{% static 'images/pattern-v-1.png' %}"
                                                            class="attachment-large size-large" alt="" loading="lazy"
                                                            srcset="{% static 'images/pattern-v-1.png' %} 200w, {% static 'images/pattern-v-1-123x300.png' %} 123w"
                                                            sizes="(max-width: 200px) 100vw, 200px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>



                    </div><!-- .entry-content .clear -->



                </article><!-- #post-## -->

            </main><!-- #main -->


        </div><!-- #primary -->


    </div> <!-- ast-container -->
</div>

{% endblock content %}
