{% extends "base.html" %}
{% block content%}


<div id="content" class="site-content">
    <div class="ast-container">


        <div id="primary" class="content-area primary">


            <main id="main" class="site-main">
                <article class="post-24462 page type-page status-publish ast-article-single" id="post-24462"
                    itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
                    <header class="entry-header ast-header-without-markup">

                    </header><!-- .entry-header -->

                    <div class="entry-content clear" itemprop="text">


                        <div data-elementor-type="wp-page" data-elementor-id="24462"
                            class="elementor elementor-24462" data-elementor-settings="[]">
                            <div class="elementor-section-wrap">
                                <section
                                    class="elementor-section elementor-top-section elementor-element elementor-element-14bc7ab elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="14bc7ab" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8373266"
                                            data-id="8373266" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-f10974c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                    data-id="f10974c" data-element_type="widget"
                                                    data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fas fa-circle"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Here be
                                                                    mimes</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-149c512 elementor-widget elementor-widget-heading"
                                                    data-id="149c512" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h1 class="elementor-heading-title elementor-size-default">
                                                            An object classifier for a bunch of random classes</h1>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0937eaf elementor-widget elementor-widget-text-editor"
                                                    data-id="0937eaf" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Built as a toy app. Using Django and PyTorch, generate
                                                            with cookie-cutter django.</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-742ff1f elementor-absolute elementor-widget elementor-widget-image"
                                                    data-id="742ff1f" data-element_type="widget"
                                                    data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img width="400" height="192"
                                                            src="./static/images/pattern.png"
                                                            class="attachment-large size-large" alt=""
                                                            loading="lazy"
                                                            srcset="./static/images/pattern.png 400w, ./static/images/pattern-300x144.png 300w"
                                                            sizes="(max-width: 400px) 100vw, 400px" />
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5fba376 elementor-widget elementor-widget-button"
                                                    data-id="5fba376" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a href="#"
                                                                class="elementor-button-link elementor-button elementor-size-sm"
                                                                role="button">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">Try It
                                                                        Out</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-112c62a"
                                            data-id="112c62a" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-04b59af elementor-widget elementor-widget-image"
                                                    data-id="04b59af" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img width="1024" height="979"
                                                            src="./static/images/mime-paris-beret-4799636-1024x979.png"
                                                            class="attachment-large size-large"
                                                            alt="mime, paris, beret-4799636.jpg" loading="lazy"
                                                            srcset="./static/images/mime-paris-beret-4799636-1024x979.png 1024w, ./static/images/mime-paris-beret-4799636-300x287.png 300w, ./static/images/mime-paris-beret-4799636-768x734.png 768w, ./static/images/mime-paris-beret-4799636.png 1280w"
                                                            sizes="(max-width: 1024px) 100vw, 1024px" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>



                    </div><!-- .entry-content .clear -->



                </article><!-- #post-## -->

            </main><!-- #main -->


        </div><!-- #primary -->


    </div> <!-- ast-container -->
</div><!-- #content -->
{% endblock content %}
